/* Navigation bar styling here */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

   .navbar {
    position: sticky;
    top: 0;
    margin: 0px;
    z-index: 1000;
  }
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: 0.25s ease;
  }
  
  .ul:hover{
    background-color: rgba(0, 0, 0, 1); 
  }

/* Float right sets the list to the right side of the nav bar */
  .li {
    float: right;
    overflow: hidden;
  }

  .dropdown .dropbtn{
    background-color: transparent;
  }
  
  .li a, .dropdown .dropbtn {
    font-family: 'Unbounded';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.25s ease;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }
  
  .li a:hover, .dropdown:hover .dropbtn:hover {
    background-color: #111;
    border-bottom: 2px solid white;
    transform: scale(1.03);
  }
  


/*This is so that the Artists fit inside the nav bar*/
.arti{
  margin: inherit;
}

/* This is the design for the drop down */
.dropdown-content {
  display: none; 
  /* This is to make the drop down invisible */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.30s ease;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}